# Variables de Entorno Frontend (Vercel / Local)
# La URL donde está sirviendose el backend (Cambiar por tu URL de Render en producción)
NEXT_PUBLIC_API_URL=http://localhost:8000
# El secreto de NextAuth (Generar uno en producción: openssl rand -base64 32)
AUTH_SECRET=tu_secreto_super_seguro
# Indica a NextAuth que confíe en los hosts proporcionados, útil en Vercel.
AUTH_TRUST_HOST=true

# --- Las siguientes variables son configuraciones de Keycloak en entornos que lo usen
# KEYCLOAK_CLIENT_ID=care-app
# KEYCLOAK_CLIENT_SECRET=---
# KEYCLOAK_ISSUER=http://localhost:8080/realms/care-realm


# =========================================================================
# Variables de Entorno Backend (Render / Local)
# =========================================================================

# URL para conexión a Base de Datos PostgreSQL.
# Render te proveerá esta URL. Si no existe, usamos SQLite de forma local.
# Ejemplo Render: postgres://user:pass@host/db
# DATABASE_URL=postgresql://usuariolocal:password@localhost/caredb
